$os-color: #112f56;
$os-background: #D2D9E3;
$wissen-color: #523c7c;
$wissen-background: #eddced;
$wissen-light:#a26fa7;
$projekte-color: #0082A0;
$projekte-background: #8BCEDB;
$schulcorner-color: #858d1e;
$schulcorner-background: #E9E59F;
$vol-color: #a31031;
$vol-background: #FAD7DC;
.anim {} .anim.ng-enter, .article_thumb.ng-enter,
/*.article.ng-hide-remove, .article.ng-hide-remove.ng-hide-remove-active, .article.ng-enter,*/

.partner.ng-enter {
    animation: fromRight 0.5s both;
    -webkit-animation: fromRight 0.5s both;
}
.anim.ng-stagger, .article_thumb.ng-enter-stagger,
/*.article.ng-enter-stagger*/

, .partner.ng-enter-stagger {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.anim.ng-leave, .article_thumb.ng-leave,
/*.article.ng-leave*/

{
    animation: toRight 0.5s both;
    -webkit-animation: toRight 0.5s both;
}
@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes fromRight {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@keyframes toRight {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
    }
}
@-webkit-keyframes toRight {
    from {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
}
.anim-left.ng-enter {
    animation: fromLeft 0.5s both;
    -webkit-animation: fromLeft 0.5s both;
}
.anim-left.ng-stagger {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.anim-left.ng-leave {
    animation: toLeft 0.5s both;
    -webkit-animation: toLeft 0.5s both;
}
@keyframes fromLeft {
    from {
        opacity: 1;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@-webkit-keyframes fromLeft {
    from {
        opacity: 1;
        -webkit-transform: translateX(100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes toLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(100%);
    }
}
@-webkit-keyframes toLeft {
    from {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(100%);
    }
}
.article_connections .article_thumb.ng-hide-add, .article_connections .article_thumb.ng-hide-remove {
    display: block!important;
}
.article_connections .article_thumb.ng-hide-add.ng-hide-add-active, .article_connections .article_thumb.ng-hide-remove {
    animation: goAway 0.7s both;
    -webkit-animation: goAway 0.7s both;
}
.article_connections .article_thumb.ng-hide-add, .article_connections .article_thumb.ng-hide-remove.ng-hide-remove-active {
    animation: comeIn 0.5s both;
    -webkit-animation: comeIn 0.5s both;
}
@keyframes comeIn {
    from {
        opacity: 0;
        transform: translateY(100%);
        z-index: 1
    }
    to {
        opacity: 1;
        transform: translateY(0%);
        z-index: 1
    }
}
@-webkit-keyframes comeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        z-index: 1
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        z-index: 1
    }
}
@keyframes goAway {
    0% {
        opacity: 1;
        transform: translateY(0%) scale(1);
        z-index: 2
    }
    30% {
        opacity: 0.6;
        transform: translateY(0) scale(0.9);
        z-index: 0
    }
    55% {
        opacity: 0.6;
        transform: translateY(0) scale(0.9);
        z-index: 0
    }
    100% {
        opacity: 0;
        transform: translateY(0%) scale(0.9);
        z-index: 0
    }
}
@-webkit-keyframes goAway {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0%) scale(1);
        z-index: 2
    }
    30% {
        opacity: 0.6;
        -webkit-transform: translateY(0) scale(0.9);
        z-index: 0
    }
    55% {
        opacity: 0.6;
        -webkit-transform: translateY(0) scale(0.9);
        z-index: 0
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(0%) scale(0.9);
        z-index: 0
    }
}
#question.ng-hide-remove, #question.ng-hide-remove.ng-hide-remove-active {
    animation: fromR 0.3s both;
    -webkit-animation: fromR 0.3s both;
}
@keyframes fromR {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@-webkit-keyframes fromR {
    from {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
.spinner {
    margin: 100px auto;
    width: 32px;
    height: 32px;
    position: absolute;
    width: 100%;
    &.wissen {
        .cube1, .cube2 {
            background-color: $wissen-background;
        }
    }
    &.projekte {
        .cube1, .cube2 {
            background-color: $projekte-background;
        }
    }
    &.schulcorner {
        .cube1, .cube2 {
            background-color: $schulcorner-background;
        }
    }
    &.vol {
        .cube1, .cube2 {
            background-color: $vol-background;
        }
    }
}
.cube1, .cube2 {
    background-color: $os-background;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    -webkit-animation: cubemove 1.8s infinite ease-in-out;
    animation: cubemove 1.8s infinite ease-in-out;
}
.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
@-webkit-keyframes cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}
@keyframes cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
#navcontainer {
    transition: all 100ms ease;
    -webkit-transition: all 100ms ease;
}
.no-anim {
    transition: all 0ms linear !important;
    -webkit-transition: all 0ms linear !important;
}
