.gldp-flatwhite{
  .sun, .sat{
    color:#d41231 !important;
  }
  .next-arrow, .prev-arrow{
    background-color: transparent !important;
    span{
      margin:8px 5px;
    }
  }
  .prev-arrow{
    span{
      margin-left:0px;
    }
  }
 .core{
   &:hover{
     background-color:#ddd;
   }
   &.selected{
     &:hover{
       background-color:#a21c34;
     }
   }
   &.outday{
     opacity: 0;
     pointer-events: none;
   }
   &.monyear, &.dow{
     &:hover{
       background-color:#fff;
     }
   }
 }

}

.calendarFreeFull {
    background-image: image-url('freeFull_day.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.calendarAfterFull {
    background-image: image-url('freeAfter_day.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.calendarBeforeFull {
    background-image: image-url('freeBefore_day.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.groupSoloDay {
    color: #444;
}
.calendarEventSolo {
    background-image: image-url('fullday_event.png');
    background-position: center center;
    background-repeat: no-repeat;
      color:#d41231 !important;
}
.calendarEventSolo_before {
    background-image: image-url('noon_event.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.calendarEventSolo_after {
    background-image: image-url('afternoon_event.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.calendarEventSolo_group {
    background-image: image-url('fullday_event.png');
    background-position: center center;
    background-repeat: no-repeat;
      color: #d41231 !important;
}
.calendarEventSolo_before_group {
    background-image: image-url('noon_event.png');
    background-position: center center;
    background-repeat: no-repeat;
    color: #444;
}
.calendarEventSolo_after_group {
    background-image: image-url('afternoon_event.png');
    background-position: center center;
    background-repeat: no-repeat;
    color: #d41231 !important;
}
.calendarFull{
  color:#d41231 !important;
}
