<div class="full-fixed spaced">
    <div class="closer" ng-click="goBack()" style="font-size: 2em;left: 5px;position: absolute; top: 5px;cursor:pointer">
        <i class="fa fa-times"></i>
    </div>
    <div class="admin-header container-fluid">
        <h2 class="col-md-8"><a ui-sref="quiz()">eLAB</a> // {{elab.title}}</h2>
        <div class="menu col-md-4">
            <ul>
                <li>
                    <button type="submit" class="btn btn-success" ng-click="savePartner(partnerForm.$valid)" ng-disabled="partnerForm.$invalid">Speichern</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid" style="padding-top:20px">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="margin:0">Bild</h3>
                </div>
                <div class="panel-body">
                    <div class="article_pre_image text-center">
                        <img ng-if="elab.image_id" ng-src="http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=/{{elab.image.url.replace('s_150', 'm_650')}}&amp;w=460&amp;q=100" class="article_main_image img-thumbnail">
                        <img ng-if="!elab.image_id || elab.image_id == 0" ng-src="http://placehold.it/460x250&text=Kein+Bild" class="article_main_image img-thumbnail">
                        <div id="image-menu">
                            <ul>
                                <li ng-click="openImagesModal(false)" title="Neues Bild hochladen...">
                                    <i class="fa fa-upload"></i>
                                </li>
                                <li ng-if="elab.image_id" title="Bild löschen..." ng-click="deleteImage()">
                                    <i class="fa fa-times"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form name="quizForm" class="col-md-9" novalidate ng-submit="saveQuiz(quizForm.$valid)">
            <div class="panel-group" allow-multiple="true" bs-collapse>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 style="margin:0"><a class="pointer" bs-collapse-toggle>Details</a></h3>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                        <div class="panel-body">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Titel</label>
                                    <input type="text" class="form-control" ng-model="elab.title" />
                                </div>
                                <div style="margin-bottom:15px">
                                    <btn-switch ng-model="elab.is_online"></btn-switch> Online
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label>Beschreibung</label>
                                    <div froala="" ng-model="elab.text"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-group pull-right">
                            <button class="btn btn-success btn-xs" ng-click="newQuestion()"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <h3 style="margin:0"><a class="pointer" bs-collapse-toggle>Inhalte</a></h3>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <th ng-click="predicate='title'; reverse=!reverse">Name</th>
                                    <th class="align_center">Typ</th>
                                    <th class="align_center">Antworten</th>
                                    <th style="width:65px"></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="lab in elabs | orderBy:predicate:reverse">
                                        <td ng-click="editLab(lab)" class="pointer">{{ lab.title}}</td>
                                        <td class="align_center">
                                            <span ng-if="question.type == 1">Single Choice</span>
                                            <span ng-if="question.type == 2">Multiple Choice</span>
                                        </td>
                                        <td class="align_center">{{ question.answers.length}}</td>
                                        <td>
                                            <button class="btn btn-info btn-xs" ng-click="editQuestion(question)"><i class="fa fa-pencil"></i>
                                            </button>
                                            <button class="btn btn-danger btn-xs" ng-click="deleteQuestion(question)"><i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>
