<div class="full-fixed spaced">
    <div class="closer" ng-click="goBack()" style="font-size: 2em;left: 5px;position: absolute; top: 5px;cursor:pointer">
        <i class="fa fa-times"></i>
    </div>
    <div class="admin-header container-fluid">
        <h2 class="col-md-6">eLAB</h2>
        <div class="menu col-md-6">
            <ul>
                <li>
                    <a ui-sref="elab({id:'new'})">
                        <button class="btn btn-default" ng-click="newElabSection()"><i class="fa fa-plus"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <input class="form-control" type="search" ng-model="search" placeholder="Suchen..." />
                </li>

            </ul>
        </div>
    </div>
    <div class="container-fluid no-left">
        <ul class="grid-view" as-sortable="sortController" ng-model="sections">
            <li as-sortable-item class="col-lg-2 col-md-4 col-sm-6 col-xs-12 no-pad anim" ng-repeat="section in sections | filter:search">
                <div class="content">
                    <img ng-if="section.image_id != 0" ng-src="http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=../../../{{section.image.url}}&amp;w=285&amp;h=190&amp;zc=1" alt="default thumb" class="thumb">
                    <img ng-if="section.image_id == 0" ng-src="http://www.placehold.it/285x190&text=Kein+Bild" alt="default thumb" class="thumb">
                    <div class="text">
                        <h3>{{section.title}}</h3>
                        <span class="meta">{{section.link}}</span>
                    </div>
                </div>
                <div class="image-menu">
                    <ul>
                        <li><a ui-sref="elab({id:section.name})"><i class="fa fa-pencil"></i></a>
                        </li>
                        <li ng-click="deleteSection(section)"><i class="fa fa-times"></i>
                        </li>
                        <li title="Online?" class="no-pad">
                            <button class="btn btn-success" ng-if="section.online == 1" ng-click="setOnline(section, 0)"><i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-danger" ng-if="section.online == 0" ng-click="setOnline(section, 1)"><i class="fa fa-times"></i>
                            </button>
                        </li>
                        <li as-sortable-item-handle>
                            <i class="fa fa-arrows"></i>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
