<div class="full-fixed spaced">
    <div class="closer" ng-click="goto('home')" style="font-size: 2em;left: 5px;position: absolute; top: 5px;cursor:pointer">
        <i class="fa fa-times"></i>
    </div>
    <div class="admin-header container-fluid">
        <h2 class="col-md-6">Buchungsbestätigung</h2>
        <div class="menu col-md-6">
            <ul>

                <li>
                    <button class="btn btn-default" ng-click="saveData()"><i class="fa fa-check"></i> Speichern
                    </button>

                </li>

                <li>
                    <button class="btn btn-default" ng-class="{'btn-success': view == 'group'}" ng-click="setView('group')">Gruppenbuchung
                    </button>

                </li>
                <li>
                    <button class="btn btn-default" ng-class="{'btn-success': view == 'solo'}" ng-click="setView('solo')">Einzelbuchung
                    </button>

                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-2" style="margin-bottom: 40px; margin-top: 40px; border: 1px solid rgb(204, 204, 204); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);">
        <div froala="froalaOptions" ng-model="header.text" style="border-bottom:1px solid #eee">
        </div>
        <div ng-if="view == 'solo'" froala="froalaOptions" ng-model="content_solo.text">
        </div>
        <div ng-if="view == 'group'" froala="froalaOptions" ng-model="content_group.text">
        </div>
        <div froala="froalaOptions" ng-model="footer.text" style="border-top:1px solid #eee">
        </div>
    </div>
    <div class="col-sm-4" style="padding-top:40px">
        <div class="panel panel-default">
            <h4 class="panel-heading">Personendaten</h4>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="row">
                        <label class="col-sm-3">Institut</label>
                        <p class="col-sm-9">%Institut%</p>
                    </div>
                    <div class="">
                        <label class="col-sm-3">Vorname</label>
                        <p class="col-sm-9">%Vorname%</p>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Nachname</label>
                        <p class="col-sm-9">%Nachname%</p>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Adresse</label>
                        <p class="col-sm-9">%Adresse%</p>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Plz, Ort</label>
                        <p class="col-sm-9">%Plz%, %Ort%</p>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Telefon</label>
                        <p class="col-sm-9">%Telefon%</p>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">E-Mail</label>
                        <p class="col-sm-9">%E-Mail%</p>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Nachricht</label>
                        <p class="col-sm-9">%Nachricht%</p>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <h4 class="panel-heading">Kursdaten</h4>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="row">
                        <label class="col-sm-3">Kurs</label>
                        <p class="col-sm-9">%Kurs%</p>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Labor</label>
                        <p class="col-sm-9">%Labor%</p>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Plätze</label>
                        <p class="col-sm-9">%Kurs_Plätze%</p>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Datum</label>
                        <p class="col-sm-9">%Kurs_Datum%</p>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Zeit</label>
                        <p class="col-sm-9">%Kurs_Zeit%</p>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Ersatz Datum</label>
                        <p class="col-sm-9">%Kurs_Ersatz_Datum%</p>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Ersatz Zeit</label>
                        <p class="col-sm-9">%Kurs_Ersatz_Zeit%</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
