<div class="full-fixed spaced">
    <div class="closer" ng-click="goBack()" style="font-size: 2em;left: 5px;position: absolute; top: 5px;cursor:pointer">
        <i class="fa fa-times"></i>
    </div>
    <div class="admin-header container-fluid">
        <h2 class="col-md-6">Glossar</h2>
        <div class="menu col-md-6">
            <ul>
                <li>
                    <button class="btn btn-default" ng-click="newGlossar()"><i class="fa fa-plus"></i>
                    </button>
                </li>
                <li>
                    <input class="form-control" type="search" ng-model="search" placeholder="Suchen..." />
                </li>

            </ul>
        </div>
    </div>
    <table class="table table-hover" bs-table>
        <thead>
            <th class="sortable" ng-click="predicate='word'; reverse=!reverse">Name</th>
            <th>Aktiv</th>
            <th style="width:65px"></th>
        </thead>
        <tbody>
            <tr ng-repeat="item in glossars | filter:search | orderBy:predicate:reverse">
                <td ng-click="editGlossar(item)" class="pointer">{{ item.word}}</td>

                <td>
                    <button class="btn btn-success btn-xs" ng-if="item.active == 1" ng-click="setOnline(item, 0)"><i class="fa fa-check"></i>
                    </button>
                    <button class="btn btn-danger btn-xs" ng-if="item.active == 0" ng-click="setOnline(item, 1)"><i class="fa fa-times"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-info btn-xs" ng-click="editGlossar(item)"><i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-xs" ng-click="deleteGlossar(item)"><i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
