<div class="full-fixed spaced">
    <div class="closer" ng-click="goBack()" style="font-size: 2em;left: 5px;position: absolute; top: 5px;cursor:pointer">
        <i class="fa fa-times"></i>
    </div>
    <div class="admin-header container-fluid">
        <h2 class="col-md-6"><a ui-sref="newsletters()">Newsletters</a> // Einstellungen</h2>
        <div class="menu col-md-6">
            <ul>
              <li>
                  <button class="btn btn-default" ng-click="saveData()"><i class="fa fa-check"></i> Speichern
                  </button>

              </li>
                <li>
                    <button class="btn btn-default" ng-class="{'btn-success': view == 'os'}" ng-click="view = 'os'">OpenScience
                    </button>

                </li>
                <li>
                    <button class="btn btn-default" ng-class="{'btn-success': view == 'vol'}" ng-click="view ='vol'">ViennaOpenLab
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div ng-if="view == 'os'" class="col-sm-6 col-sm-offset-3 editor_content" style="margin-bottom: 40px; margin-top: 40px;">
      <h3 class="admin-header" style="margin-bottom:0px;margin-top:10px">Header</h3>

      <textarea ckeditor="$root.ckeOptions" contenteditable="true" ng-model="$parent.configs['headertext'].value"></textarea>

      <h3 class="admin-header" style="margin-bottom:0px;margin-top:10px">Footer</h3>

      <textarea ckeditor="$root.ckeOptions" contenteditable="true" ng-model="$parent.configs['footertext'].value"></textarea>

    </div>
    <div ng-if="view == 'vol'" class="col-sm-6 col-sm-offset-3 editor_content" style="margin-bottom: 40px; margin-top: 40px;">
        <h3 class="admin-header" style="margin-bottom:0px;margin-top:10px">Header</h3>
        <textarea ckeditor="$root.ckeOptions" contenteditable="true" ng-model="$parent.configs['headertext_vol'].value"></textarea>
        <h3 class="admin-header" style="margin-bottom:0px;margin-top:10px">Footer</h3>
        <textarea ckeditor="$root.ckeOptions" contenteditable="true" ng-model="$parent.configs['footertext_vol'].value"></textarea>

    </div>
