<div class="full-fixed spaced">
    <div class="closer" ng-click="goBack()" style="font-size: 2em;left: 5px;position: absolute; top: 5px;cursor:pointer">
        <i class="fa fa-times"></i>
    </div>
    <div class="admin-header container-fluid">
        <h2 class="col-lg-8 col-md-6">Newsletters // {{newsletter.title }}</h2>
        <div class="menu col-lg-4 col-md-6">
            <ul>
                <li ng-if="status != 'sent'">
                    <button class="btn btn-default" ng-click="saveNewsletter()" ng-disabled="newsletter.items.length == 0"><i class="fa fa-check"></i>&nbsp;Speichern
                    </button>
                </li>
                <li>
                    <button class="btn btn-warning" bs-dropdown="dropdown" data-animation="am-flip-x" type="button" data-template="/views/admin/menue/newsletter_actions.html"><i class="fa fa-plus"></i>&nbsp;Aktionen</button>
                </li>

                <li ng-if="status != 'sent'">
                    <button class="btn btn-warning" bs-dropdown="dropdown" data-animation="am-flip-x" type="button" data-template="/views/admin/menue/newsletter_adds.html"><i class="fa fa-plus"></i>&nbsp;Inhalt</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" id="newsletter-box" style="margin-bottom: 40px; margin-top: 40px;" ng-if="newsletter.mailchimp || newsletter.status == 'create'">
        <form name="newsletterForm" novalidate ng-submit="saveNewsletter()">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label>Betreff</label>
                    <input type="text" class="form-control" ng-model="newsletter.title" required ng-disabled="status == 'sent'" />
                </div>
                <div class="form-group">
                    <label>Empfängerliste</label>
                    <select class="form-control" ng-disabled="status == 'sent'" required ng-model="newsletter.list_id" ng-options="item.id as item.name for item in list.data">
                        <option value="">- Liste auswählen -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Kopf/Fußinhalt</label>
                    <select class="form-control" ng-model="newsletter.header_id" required ng-disabled="status == 'sent'">
                        <option value="">- automatisch -</option>
                        <option value="os">Open Science</option>
                        <option value="vol">Vienna Open Lab</option>
                    </select>
                </div>
                <div class="form-group" ng-if="status == 'sent'">
                    <label>Versendet am</label>
                    <p>{{ newsletter.mailchimp.send_time | amDateFormat:'DD.MM.YYYY, HH:mm'}}</p>
                </div>
            </div>
        </form>
        <div class="col-md-12">

            <div ng-if="newsletter.items.length" id="newsletter_container">
                <div id="newsletter_content" class="anim newsletter-toconvert row" as-sortable="" ng-model="newsletter.items">
                    <div ng-repeat="item in newsletter.items" ng-class="{'col-md-6': item.size == 1,'col-md-8': item.size == 2, 'col-md-4': item.size == 0, 'col-md-12': item.size == 3}" class="{{item.type.class}} {{item.type.typClass}}  item" as-sortable-item>
                        <div class="content">
                            <div class="box" ng-if="item.type.intern == 'additional'">
                                <div ng-if="item.type.name == 'header'">
                                    <h2>{{ item.title}}</h2>
                                </div>
                                <div ng-if="item.type.name == 'text'">

                                    <div ng-bind-html="item.text | unsafe"></div>
                                </div>
                                <div ng-if="item.type.name == 'image'">
                                    <img ng-if="item.size == 1 || !item.size" ng-src="{{ $root.SETTINGS.baseUriRemote + item.image.thumb}}" />
                                    <img ng-if="item.size == 2" ng-src="{{ $root.SETTINGS.baseUriRemote + item.image.thumb_big}}" />
                                </div>
                            </div>
                            <div class="box intern" ng-if="item.type.intern != 'additional'">
                                <a target="_blank" ng-href="http://www.openscience.or.at/{{item.section.name}}/{{item.categorie}}/{{item.name}}">
                                    <div class="image" ng-if="item.images && !item.sign && !item.image.src">
                                        <div class="prev-thumb">
                                            <img ng-if="item.images[0].thumb != ''" ng-src="{{ $root.SETTINGS.baseUriRemote + item.images[0].thumb }}" />
                                            <img ng-if="item.images[0].thumb == ''" ng-src="{{ $root.SETTINGS.baseUriRemote + item.images[0].src }}" />
                                        </div>
                                    </div>
                                    <div class="image" ng-if="item.image.src">
                                        <div class="prev-thumb">
                                            <img ng-if="item.image.thumb != ''" ng-src="{{ $root.SETTINGS.baseUriRemote + item.image.thumb }}" />
                                            <img ng-if="item.image.thumb == ''" ng-src="{{ $root.SETTINGS.baseUriRemote + item.image.src }}" />
                                        </div>
                                    </div>
                                    <div class="thumb_image" ng-if="item.image.url">
                                        <a href="#">
                                            <img ng-if="item.image.url" class="article-image" ng-src="http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=/{{item.image.url.replace('s_150', 'm_650')}}&amp;fltr[]=gray&amp;fltr[]=brit|-40&amp;fltr[]=clr|60|{{color[item.type.class]}}&amp;fltr[]=cont|10&amp;w=220&amp;h=145&amp;zc=1&amp;f=jpg&amp;q=100">
                                        </a>
                                    </div>
                                    <p class="categorie">
                                        <a href="#">{{ item.categorie}}</a>
                                    </p>
                                    <h2 class="title">
										<a href="#">{{ item.title}}</a>
									</h2>
                                    <p class="intro" ng-bind-html="item.intro | htmlToPlain" ng-if="item.intro && item.type.intern == 'articles'"></p>
                                </a>
                            </div>
                            <div class="newsletter-edit-menu">
                                <ul>
                                    <li ng-if="item.type.intern == 'additional'" ng-show="item.size < 3 || !item.size" ng-click="sizeUp(item)"><i class="fa fa-plus"></i>
                                    </li>
                                    <li ng-if="item.type.intern == 'additional'" ng-show="item.size > 0" ng-click="sizeDown(item)"><i class="fa fa-minus"></i>
                                    </li>
                                    <li ng-if="item.type.name == 'text'" ng-click="editText(item)"><i class="fa fa-pencil"></i>
                                    </li>
                                    <li ng-if="item.type.name == 'header'" ng-click="editTitle(item)"><i class="fa fa-pencil"></i>
                                    </li>
                                    <li as-sortable-item-handle><i class="fa fa-arrows"></i>
                                    </li>
                                    <li ng-click="deleteItem($index)"><i class="fa fa-times"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                </div>
            </div>
            <!-- <div ng-if="!newsletter.content_data" id="newsletter_container" ng-bind-html="newsletter.content | unsafe"></div>-->
        </div>
    </div>
