<div class="full-fixed spaced">
    <div class="closer" ng-click="goBack()" style="font-size: 2em;left: 5px;position: absolute; top: 5px;cursor:pointer">
        <i class="fa fa-times"></i>
    </div>
    <div class="admin-header container-fluid">
        <h2 class="col-md-8"><a ui-sref="quiz()">Quiz</a> // {{quiz.title}}</h2>
        <div class="menu col-md-4">
            <ul>
                <li>
                    <button type="submit" class="btn btn-success" ng-click="savePartner(partnerForm.$valid)" ng-disabled="partnerForm.$invalid">Speichern</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid" style="padding-top:20px">
        <div class="col-md-3">
            <label>Bild</label>
            <div class="article_pre_image">
                <img ng-if="quiz.image_id" ng-src="http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=/{{quiz.image.url.replace('s_150', 'm_650')}}&amp;w=460&amp;q=100" class="article_main_image img-thumbnail">
                <img ng-if="!quiz.image_id || quiz.image_id == 0" ng-src="http://placehold.it/460x250&text=Kein+Bild" class="article_main_image img-thumbnail">
                <div id="image-menu">
                    <ul>
                        <li ng-click="openImagesModal(false)" title="Neues Bild hochladen...">
                            <i class="fa fa-upload"></i>
                        </li>
                        <li ng-if="quiz.image_id" title="Bild löschen..." ng-click="deleteImage()">
                            <i class="fa fa-times"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <form name="partnerForm" novalidate ng-submit="savePartner(partnerForm.$valid)">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Titel</label>
                    <input type="text" class="form-control" ng-model="quiz.title" />
                </div>
                <div class="form-group">
                    <label>Start</label>
                    <input type="text" required class="form-control" ng-model="quiz.date_start" data-max-date="quiz.date_end" bs-datepicker/>
                </div>
                <div class="form-group">
                    <label>Ende</label>
                    <input type="text" required class="form-control" ng-model="quiz.date_end" data-min-date="quiz.date_start" bs-datepicker />
                </div>
                <div class="form-group">
                    <label>Typ</label>
                    <select class="form-control" ng-model="quiz.type" ng-options="type.id as type.name for type in types"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Beschreibung</label>
                    <div froala="" ng-model="quiz.description"></div>
                </div>
            </div>
            <div class="row"></div>
            <div class="col-md-3">
                <div style="margin-bottom:15px">
                    <label>Status</label>
                    <br>
                    <btn-switch ng-model="quiz.is_online"></btn-switch> Online
                    <br>
                    <br>
                    <label>Kategorien</label>

                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="btn-group pull-right">
                            <button class="btn btn-success btn-xs" ng-click="newQuestion()"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <h3 style="margin:0">Fragen</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <th ng-click="predicate='title'; reverse=!reverse">Name</th>
                                <th class="align_center">Typ</th>
                                <th class="align_center">Antworten</th>
                                <th style="width:65px"></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="question in quiz.questions | orderBy:predicate:reverse">
                                    <td ng-click="editQuestion(question)" class="pointer">{{ question.title}}</td>
                                    <td class="align_center">
                                        <span ng-if="question.type == 1">Single Choice</span>
                                        <span ng-if="question.type == 2">Multiple Choice</span>
                                    </td>
                                    <td class="align_center">{{ question.answers.length}}</td>
                                    <td>
                                        <button class="btn btn-info btn-xs" ng-click="editQuestion(question)"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger btn-xs" ng-click="deleteQuestion(question)"><i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-group pull-right">
                            <button class="btn btn-success btn-xs" ng-click="newConnection()"><i class="fa fa-plus"></i>
                            </button>
                            </button>
                        </div>
                        <h3 style="margin:0">Verknüpfungen</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <th>Name</th>
                                <th>Kategorie</th>
                                <th>Sektion</th>
                                <th style="width:65px"></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="article in overview | byid: quiz.articles" ng-class="[article.section.name, article.sections]">
                                    <td>{{ article.title }}</td>
                                    <td><span ng-if="article.categorie.title">{{ article.categorie.title }}</span><span ng-if="!article.categorie.title">{{ article.section.title }}</span>
                                    </td>
                                    <td><span ng-if="article.categorie.title">{{ article.section.title }}</span><span ng-if="!article.categorie.title">Vienna Open Lab</span>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-xs" ng-click="toggleConnection(article)"><i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
