<div class="full-fixed spaced">
    <div class="closer" ng-click="goBack()" style="font-size: 2em;left: 5px;position: absolute; top: 5px;cursor:pointer">
        <i class="fa fa-times"></i>
    </div>
    <div class="admin-header container-fluid">
        <h2 class="col-md-6">ShortUrls</h2>
        <div class="menu col-md-6">
            <ul>
                <li>
                    <button class="btn btn-default" ng-click="newUrl()"><i class="fa fa-plus"></i>
                    </button>
                </li>
                <li>
                    <input class="form-control" type="search" ng-model="search" placeholder="Suchen..." />
                </li>

            </ul>
        </div>
    </div>

    <table class="table table-hover" bs-table>
        <thead>
            <th class="sortable" ng-click="predicate='title'; reverse=!reverse">Titel</th>
            <th class="sortable" ng-click="predicate='keyword'; reverse=!reverse">Keyword</th>
            <th>Short URL</th>
            <th>Full URL</th>

            <th class="sortable" ng-click="predicate='clicks'; reverse=!reverse">Clicks</th>
            <th>QR</th>
            <th style="width:65px"></th>
        </thead>
        <tbody>
            <tr ng-repeat="url in shorturls | filter:search | orderBy:predicate:reverse">
                <td ng-click="editUrl(url)" class="pointer"><strong>{{ url.title}}</strong>
                </td>
                <td ng-click="editUrl(url)" class="pointer">{{ url.keyword}}</td>
                <td><a target="_blank" ng-href="http://openscience.or.at/{{ url.keyword}}">http://openscience.or.at/{{ url.keyword}}</a>
                </td>
                <td><a target="_blank" ng-href="{{ url.url}}">{{ url.url }}</a>
                </td>
                <td><strong>{{ url.clicks }}</strong>
                </td>
                <td>
                    <button ng-click="getQrCode(url)" class="btn btn-default btn-xs"><img src="data:image/png;base64,R0lGODlhEAAQAIAAAAAAAP///yH5BAAAAAAALAAAAAAQABAAAAIvjI9pwIztAjjTzYWr1FrS923NAymYSV3borJW26KdaHnr6UUxd4fqL0qNbD2UqQAAOw==" />
                    </button>
                </td>
                <td>
                    <button class="btn btn-info btn-xs" ng-click="editUrl(url)"><i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-xs" ng-click="deleteUrl(url)"><i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
