<div id="content_container" class="container_12">
    <p>&nbsp;</p>
</div>
<div class="container_12 openscience">
    <div class="grid_3 cat_menu">
        <div class="frame" sticker>

            <h3 class="bg_full"><a ui-sref="uns" style="color:#fff">{{ 'ABOUT_US' | translate }}</a></h3>
            <ul class="tabs cat_menu_sub">
                <li>
                    <a class="categorie_content_link" ui-sref="uns.wer" ng-class="{'active':state.includes('uns.wer')}">{{ 'WHO' | translate }}</a>
                </li>
                <li>
                    <a class="categorie_content_link" ui-sref="uns.was" ng-class="{'active':state.includes('uns.was')}">{{ 'WHAT' | translate }}</a>
                </li>
                <li>
                    <a class="categorie_content_link" ui-sref="uns.foerderer" ng-class="{'active':state.includes('uns.foerderer')}">{{ 'FUNDING' | translate }}</a>
                </li>
                <!--<li>
						<a class="categorie_content_link" href="uns/faq" data-name="faq">FAQ</a>
					</li>-->
                <li>
                    <a class="categorie_content_link" ui-sref="uns.mitglieder" ng-class="{'active':state.includes('uns.mitglieder')}">{{ 'MEMBERS' | translate }} </a>
                </li>
                <li>
                    <a class="categorie_content_link" ui-sref="uns.kontakt" ng-class="{'active':state.includes('uns.kontakt')}">{{ 'CONTACT' | translate }}</a>
                </li>
                <li>
                    <a class="categorie_content_link" ui-sref="uns.impressum" ng-class="{'active':state.includes('uns.impressum')}">{{ 'IMPRESSUM' | translate }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div ui-view="content" id="categorie_container" class="grid_9 floating"></div>
</div>
