<loader content="coops"></loader>
<div class="article anim" ng-if="partners.length">
	<h1 class="article_main_header">{{ 'FUNDED' | translate }}</h1>
</div>
<div class="row extra_thumb floating">
	<div class="partner" ng-repeat="partner in partners">
		<div style="width: 220px; overflow: hidden; height: 150px;" class="hoverThumb left">
			<a href="{{partner.link}}" target="_blank">
				<div class="hoverImage">
					<div style="width: 220px; height: 150px;" class="hoverEntry">
						<img src="http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=/{{ partner.image.url}}&amp;w=220&amp;h=150&amp;q=100">
					</div>
				</div>
				<div class="hoverText">
					<div class="hoverEntry">
						<div class="hoverContent">{{ partner.text | htmlToPlain}}</div>
					</div>
				</div>
			</a>
		</div>
		<div class="left hoverMainer">
			<div class="hoverEntry">
				<h4 style="font-weigth:normal">{{partner.title}}</h4>
				<span ng-bind-html="partner.text"></span>
			</div>
		</div>
	</div>
</div>