<div class="article anim " ng-if="article.id" context-menu="setContext(article)" context-menu-disabled="!$root.isLoggedIn" data-target="articleMenu">
	<h1 ng-if="!article.edit && (lang == 'de' || article.title_en == '')" class="article_main_header" >{{article.title}}</h1>
	<h1 ng-if="!article.edit && lang == 'en' && article.title_en != ''" class="article_main_header" >{{article.title_en}}</h1>
	<h1 ng-if="article.edit && lang == 'de'" contenteditable id="{{ article.name }}" class="article_main_header" ng-model="article.title"></h1>
	<h1 ng-if="article.edit && lang == 'en'" contenteditable id="{{ article.name }}" class="article_main_header" ng-model="article.title_en" ></h1>
	<div ng-if="!article.edit && (lang == 'de' || article.text_en == '')" class="article_main_content" ng-bind-html="article.text" thesaurus></div>
	<div ng-if="!article.edit && lang == 'en' && article.text_en != ''" class="article_main_content" ng-bind-html="article.text_en" thesaurus></div>
	<div ng-if="article.edit && lang == 'de'" froala="froalaOptions" class="article_main_content" ng-model="article.text"></div>
	<div ng-if="article.edit && lang == 'en'" froala="froalaOptions" class="article_main_content" ng-model="article.text_en"></div>
</div>
<masonry class="row extra_thumb floating" id="marker_container" load-images="false" masonry-options="{ transitionDuration: '0s' }" preserve-order >
	<div class="grid_3 article_thumb no_border marker masonry-brick"  ng-class="marker.categorie" ng-repeat="marker in markers">
		<div class="thumb_heading" ng-if="lang == 'en' && !marker.title_en || lang == 'de'" ng-bind-html="marker.title"></div>
		<div class="thumb_heading" ng-if="lang == 'en' && marker.title_en" ng-bind-html="marker.title_en"></div>
		<div class="thumb_text" ng-if="lang == 'en' && !marker.text_en || lang == 'de'" ng-bind-html="marker.text" data-target="markerMenu" context-menu-disabled="!$root.isLoggedIn" context-menu="setMarkerContext(marker)"></div>
		<div class="thumb_text" ng-if="lang == 'en' && marker.text_en" ng-bind-html="marker.text_en" data-target="markerMenu" context-menu-disabled="!$root.isLoggedIn" context-menu="setMarkerContext(marker)"></div>
	</div>
</masonry>
<div class="context-menu" id="markerMenu" ng-if="$root.isLoggedIn">
    <ul class="dropdown-menu">
        <li ng-click="editMarker()">
            <i class="fa fa-edit"></i>
            <span class="text">Bearbeiten</span>
        </li>
		</ul>
</div>
