<div class="article" context-menu="setContext(article)" context-menu-disabled="!$root.isLoggedIn" data-target="articleMenu" ng-repeat="article in articles | bysection: sectionFilter | orderbycat " in-view="inThaView($index, $inview, $inviewpart, article)" in-view-offset="400" ng-if="article.active == 1 || article.active == 0 && $root.isLoggedIn || article.id == 0 && $root.isLoggedIn" ng-class="{'offline': article.active == 0, 'low_hide': !article.text_en && lang == 'en'}">
    <h1 ng-if="!article.edit" id="{{ article.name }}" class="article_main_header" du-scrollspy>{{article.title}}</h1>
    <h1 ng-if="article.edit && lang == 'de'" contenteditable id="{{ article.name }}" class="article_main_header" ng-model="article.title"></h1>
    <h1 ng-if="article.edit && lang == 'en'" contenteditable id="{{ article.name }}" class="article_main_header" ng-model="article.title_en"></h1>
    <div class="article_pre_image" ng-if="article.image.url || article.edit" ng-class="{'editing': article.edit}">
        <img imageloaded ng-if="article.image_id" ng-src="http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=/{{article.image.url.replace('s_150', 'm_650')}}&amp;w=460&amp;q=100" class="article_main_image">
        <img imageloaded ng-if="!article.image_id || article.image_id == 0" ng-src="http://placehold.it/460x250&text=Kein+Bild" class="article_main_image">
        <div id="image-menu" ng-if="article.edit">
            <ul>
                <li ng-click="openImagesModal(false)" title="Neues Bild hochladen...">
                    <i class="fa fa-upload"></i>
                </li>
                <li ng-if="article.image_id" title="Bildinformationen ändern..." ng-click="cropImage()">
                    <i class="fa fa-pencil"></i>
                </li>
                <li ng-if="article.image_id" title="Bild löschen..." ng-click="deleteImage()">
                    <i class="fa fa-times"></i>
                </li>
            </ul>
        </div>
    </div>
    <h4 class="image_caption" ng-if="article.image.url && article.image.source" ng-bind-html="article.image.source | linkify | unsafe"></h4>
    <div ng-if="!article.edit && lang == 'en' && article.text_en == '' || !article.edit && lang != 'en'" class="article_main_content" ng-bind-html="article.text | unsafe" thesaurus></div>
    <div ng-if="!article.edit && lang == 'en' && article.text_en != ''" class="article_main_content" ng-bind-html="article.text_en | unsafe" thesaurus></div>
    <div ng-if="article.edit && lang == 'de'" ckeditor="ckeOptions" contenteditable="true" class="article_main_content" ng-model="$parent.article.text"></div>
    <div ng-if="article.edit && lang == 'en'" ckeditor="ckeOptions" contenteditable="true" class="article_main_content" ng-model="$parent.article.text_en"></div>
    <div ng-if="article.images.length" class="gallery_view article_partners" style="border:0">
      <div class="" style="width:100%;padding:10px 16px">
      <masonry masonry-options="{ transitionDuration: '0s' }" preserve-order class="article anim"  mfp>
          <div class="item masonry-brick" ng-repeat="image in article.images">
              <a href="http://www.openscience.or.at/{{image.url}}">
                  <img src="http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=http://www.openscience.or.at/{{image.url}}&w=175&q=100" />
              </a>
          </div>
      </masonry>
    </div>
    </div>
    <div class="article_partners bordered" ng-if="article.files.length">
        <div class="small_header left" style="width:100%">
            <div class="left">Downloads:</div>
            <div class="right" ng-if="setArticle.files.length > 1" ng-click="downloadZip(setArticle)" analytics-on="click" analytics-event="Download" analytics-category="{{setArticle.section.title}}" analytics-label="{{setArticle.name+'.zip'}}">
                <div class="os-icon download-icon left" title="Alle Anhänge herunterladen..."></div>
            </div>
        </div>
        <ul>
            <li ng-repeat="file in article.files" class="anim">
                <a target="_blank" href="http://www.openscience.or.at/{{file.url}}" download="{{file.name+'.'+file.filetype}}" analytics-on="click" analytics-event="Download" analytics-category="{{setArticle.section.title}}" analytics-label="{{file.name+'.'+file.filetype}}">
                    <div class="file_download" title="{{ file.name +'.'+ file.filetype }}">
                        <span class=" os-icon download-icon left" style="margin-right:10px"></span>
                        <span class="file_name left">{{ file.name}}</span>
                    </div>
                </a>
            </li>

        </ul>
    </div>
    <div class="article_tags" ng-if="article.tags.length">
        <span class="left">Schlagwörter:</span>
        <ul>
            <li ng-repeat="tag in article.tags"><a ui-sref="tag({name:tag.name})">{{ tag.title }}</a>
            </li>
        </ul>
    </div>
    <div ng-if="article.partners.length > 0" class="article_partners bordered">
        <div class="small_header">
            Partner / Förderer:
        </div>
        <ul>
            <li ng-repeat="partner in article.partners">
                <a href="{{ partner.link }}" target="_blank" ng-if="partner.text" ng-bind-html="partner.text"></a>
                <a href="{{ partner.link }}" target="_blank" ng-if="!partner.text">{{partner.title}}</a>
            </li>
        </ul>
    </div>
    <div ng-if="article.person" class="article_partners bordered">
        <div class="small_header">Ansprechpartner:</div>
        <ul>
            <li>
                <a ui-sref="uns.wer.person({name:article.person.name})">{{ article.person.firstname + " " + article.person.lastname }}</a>
            </li>
        </ul>
    </div>
</div>
