<div id="articleOptions" class="anim-left" >
	<ul ng-if="article.edit && article.id != 0 && $root.isLoggedIn">
		<li ng-class="{'active':showQuestion}">
			<i class="fa fa-question" ng-click="toggleQuestion()"></i>
			<span class="text" ng-click="toggleQuestion()">Frage</span>
			<div class="anim-left absoluted" ng-if="showQuestion">
				<input type="text" ng-model="article.question" />
				<button class="btn btn-success"><i class="fa fa-check"></i></button>
				<button class="btn btn-danger" ng-click="toggleQuestion()"><i class="fa fa-times"></i></button>
			</div>
		</li>
		<li  ng-class="{'active':showAutor}">
			<i class="fa fa-user-md" ng-click="toggleAutor()"></i>
			<span class="text" ng-click="toggleAutor()">Autor</span>
			<div class="anim-left absoluted" ng-if="showAutor">
				<select ng-change="setPerson(person)" ng-model="article.person_id" ng-options="person.id as (person.firstname+' '+person.lastname) for person in authors">
					<option value="">- Kein Ansprechpartner -</option>
				</select>
				<button class="btn btn-success"><i class="fa fa-check"></i></button>
				<button class="btn btn-danger" ng-click="toggleAutor()"><i class="fa fa-times"></i></button>
			</div>
		</li>
		<li ng-class="{'active':showPartners}">
			<i class="fa fa-cogs" ng-click="togglePartners()"></i>
			<span class="text" ng-click="togglePartners()">Förderer</span>
			<div class="anim-left absoluted" ng-if="showPartners">
				<select ng-multiple="true" chosen multiple data-placeholder="Förderer auswählen..." ng-model="article.partners" ng-options="partner as partner.title for partner in partners track by partner.id">
				</select>
				<button class="btn btn-success"><i class="fa fa-check"></i></button>
				<button class="btn btn-danger" ng-click="togglePartners()"><i class="fa fa-times"></i></button>
			</div>
		</li>
		<li ng-click="editImages()">
			<i class="fa fa-picture-o"></i>
			<span class="text">Bilder</span>
		</li>
		<li ng-click="editFiles()">
			<i class="fa fa-files-o"></i>
			<span class="text">Dateien</span>
		</li>
		<li>
			<i class="fa fa-arrows-h"></i>
			<span class="text">Verbindungen</span>
		</li>
		<li>
			<i class="fa fa-tags"></i>
			<span class="text">Schlagwörter</span>
		</li>
		<li ng-class="{'active':showShort}">
			<i class="fa fa-list" ng-click="toggleShort()"></i>
			<span class="text" ng-click="toggleShort()">Menüname</span>
			<div class="anim-left absoluted" ng-if="showShort">
				<input type="text" ng-model="article.short" />
				<button class="btn btn-success"><i class="fa fa-check"></i></button>
				<button class="btn btn-danger" ng-click="toggleShort()"><i class="fa fa-times"></i></button>
			</div>
		</li>
	</ul>
</div>