<div class="grid_3 article_thumb bordered vol anim" ng-repeat="article in articles">
	<div class="thumb_image" ng-if="article.image.url || article.is_new == 1" style="background-image:url(http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=/{{article.image.src}}&amp;w=218&amp;h=146&amp;zc=1&amp;f=jpg&amp;q=100)">
		<a href="#/{{article.section.name}}/{{ article.categorie.name }}/{{ article.name }}">
		<img ng-if="article.image.url" style="width:218px;height:145px" src="assets/lib/phpThumb/phpThumb.php?src=/images%2Farticles%2F671%2FBrain_JE_Theriot.jpg&amp;fltr[]=gray&amp;fltr[]=brit|-40&amp;fltr[]=clr|60|523C7C&amp;fltr[]=cont|10&amp;w=220&amp;h=145&amp;zc=1&amp;f=jpg&amp;q=100"></a>
	</div>
	<div class="thumb_categorie left">
		<a href="#/vol/kurse">Kurse/Seminare</a>
	</div>
	<div class="clear"></div>
	<div class="thumb_heading">
		<a ui-sref="vol.kurse({kurs:article.name})">{{ article.title }}</a>
	</div>
	<div class="thumb_text">{{article.text | htmlToPlaintext}}</div>
	<div class="is_new" ng-if="article.is_new"></div>
</div>
