<div class="slide anim"  ng-if="articles.length > 0" ng-cloak>
	<div id="connect" class="row weiteres connections_title">
		<div class="left" style="margin:0px 10px">
			Weiterführendes
		</div>
		<div id="more_control" class="right" style="margin:0px 10px">
			<div class="more_control_left left pointer" style="margin:0px 5px" ng-click="prev(true)">«</div>
			<div class="more_counter left">
				<div class="more_pos left">{{currentIndex + 1}}</div>
				<div class="more_sep left">/</div>
				<div class="more_to left">{{articles.length}}</div>
			</div>
			<div class="more_control_right left pointer" style="margin:0px 5px" ng-click="next(true)">»</div>
		</div>
	</div>
	<div id="connection-liner"></div>
	<div id="connection-liner-neg"></div>
	<div class="row" id="connections_list" ng-show="articles.length > 0">
		<div class="article_connections">
			<div class="grid_3 article_thumb" ng-class="[article.section.name, article.sections]" ng-repeat="article in articles" ng-show="article.visible">
					<div class="thumb_image" ng-if="article.image.url || article.is_new == 1" ng-style="{'background-image': 'url(http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=/{{article.image.url.replace('s_150', 'm_650')}}&amp;w=218&amp;h=146&amp;zc=1&amp;f=jpg&amp;q=100)'}">
						<a ui-sref="section.categorie.article({section:article.section.name, categorie: article.categorie.name, article:article.name})">
						<img ng-if="article.image.url" ng-src="http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=/{{article.image.url.replace('s_150', 'm_650')}}&amp;fltr[]=gray&amp;fltr[]=brit|-40&amp;fltr[]=clr|60|{{colors[article.section.name]}}&amp;fltr[]=cont|10&amp;w=220&amp;h=145&amp;zc=1&amp;f=jpg&amp;q=100"></a>
					</div>
					<div class="thumb_categorie left">
						<a ui-sref="section.categorie.article({section:article.section.name, categorie: article.categorie.name, article:article.name})">{{ article.categorie.title }}</a>
					</div>
					<div class="clear"></div>
					<div class="thumb_heading">
						<a ui-sref="section.categorie.article({section:article.section.name, categorie: article.categorie.name, article:article.name})">{{ article.title }}</a>
					</div>
					<div class="thumb_text" ng-if="!article.intro">{{article.text | htmlToPlaintext}}</div>
					<div class="thumb_text" ng-if="article.intro">{{article.intro | htmlToPlain}}</div>
					<div class="is_new" ng-if="article.is_new"></div>
				</div>
			</div>
		</div>
</div>
