<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" id="myModalLabel">eLAB // {{ elabentry.title}}</h4>
            </div>
            <form role="form" name="elabentryForm" ng-submit="saveElabEntry(elabentryForm.$valid)" novalidate>
                <div class="modal-body row">
                    <div class="col-md-6">
                        <div style="margin-bottom:15px">
                            <btn-switch ng-model="elabentry.online"></btn-switch> Online
                        </div>
                        <div class="form-group">
                            <label>Titel</label>
                            <input type="text" required class="form-control" ng-model="elabentry.title" />
                        </div>


                        <div class="form-group">
                            <label>Beschreibung</label>
                            <textarea ng-model="elabentry.text" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 style="margin:0">Animation</h3>
                            </div>
                            <div class="panel-body">
                                <div class="article_pre_image text-center">
                                    <swf-object swf-height="400" swf-width="300" swf-timeout="300" swf-url="http://www.openscience.or.at{{elabentry.container_url}}"></swf-object>
                                    <div id="image-menu">
                                        <ul>
                                            <li ng-click="openFilesModal(false)" title="Neue Animation hochladen...">
                                                <i class="fa fa-upload"></i>
                                            </li>
                                            <li ng-if="elabentry.container_url" title="Animation löschen..." ng-click="removeFile()">
                                                <i class="fa fa-times"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-if="elab.id" ng-click="deleteElabentry(elabentry)">Löschen</button>
                    <button type="button" class="btn btn-default" ng-click="$hide()">Schließen</button>
                    <button type="submit" class="btn btn-success" ng-disabled="elabentryForm.$invalid">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>