<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Dateien // <small >{{article.title}}</small></h4>
      </div>
   
        <div class="modal-body">
         
            <button class="btn btn-success" ng-click="openFilesModal()">Neue Dateien</button>
            <br><br>
     

            <div class="context-box" ng-if="article.files.length > 0">
               <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th width="45%">Name</th>
                  <th >Größe</th>
                  <th >Typ</th>
                  <th width="120px"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="anim" ng-repeat="item in article.files">
                  <td>
                    <a download target="_blank" ng-href="http://www.openscience.or.at/{{item.url}}" ><span class=" os-icon download-icon"></span></a>
                  </td>
                  <td>
                    <span editable-text="item.name" onbeforesave="updateFileName(item, $data)">{{item.name}}</span>
                  </td>
                  <td nowrap>{{ item.size/1024/1024|number:2 }} MB</td>
                  <td>{{ item.filetype}} </td>
                  <td class="full-buttons">
                    <button type="button" class="btn btn-danger btn-xs" ng-click="removeFile(item)">
                      <span class="glyphicon glyphicon-trash"></span> Löschen
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$hide()">Schließen</button>
          </div>
      
      </div>
    </div>
  </div>