<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content col-1 no-pad">
            <div class="modal-body">
                <div class="spinner loader-container" style=" margin: 10px auto 40px; position: relative;">
                    <div class="cube1"></div>
                    <div class="cube2"></div>
                </div>

                <div ng-bind="msg" class="text-center" style="font-size:1.3em"></div>
            </div>
        </div>
    </div>
</div>