<ul role="menu" class="dropdown-menu">
    <li><a href="" ng-click="showPreview()"><i class="fa fa-eye"></i>&nbsp;&nbsp;Vorschau</a>
    </li>
    <li ng-if="status != 'sent' && newsletter.mailchimp.tests_remain > 0"><a href="" ng-click="sendTest()"><i class="fa fa-bug"></i>&nbsp;&nbsp;Testmail ({{ newsletter.mailchimp.tests_remain}} übrig)</a>
    </li>
    <li class="divider" ng-if="status != 'sent'"></li>
    <li ng-if="status != 'sent'"><a href="" ng-click="sendCampaign()"><i class="fa fa-rocket"></i>&nbsp;&nbsp;Senden</a>
    </li>
    <li ng-if="status == 'sent'">
        <a href="https://us8.admin.mailchimp.com/reports/summary?id={{newsletter.mailchimp.web_id}}" target="_blank"><i class="fa fa-bar-chart-o"></i>&nbsp;&nbsp;Statistik</a>
    </li>
</ul>