<div class="article anim quiz_container" ng-if="q.id">
    <div style="border: 1px solid;padding:10px;overflow:hidden" class="row">
        <h3 style="margin:16px 16px 0">
            <div style="border-bottom: 1px solid;padding-bottom: 5px;margin-bottom: 5px">QUIZ // {{ q.title}}</div>
            <div ng-if="startet && !finished" style="font-size: 0.7em; margin-bottom: 1em;text-transform: uppercase;">Frage {{position}}/{{q.questions.length}}</div>
        </h3>



        <div class="article_main_content" ng-bind-html="q.description" ng-if="!startet"></div>
        <div style="position:relative;display:inline-block;width:100%">
            <div class="article_main_content quiz_anim" ng-repeat="question in q.questions" ng-show="q.questions.indexOf(question) == position-1 && !finished">

                <h2 class="question_title">

                    <div>{{ question.title}}</div>
                </h2>
                <ul class="answers">
                    <li ng-repeat="answer in question.answers">
                        <label>
                            <input type="radio" ng-model="user" ng-change="setAnswer(question, answer)" name="{{question.name}}" class="radios" ng-value="question.answers.indexOf(answer)" />
                            <span class="answer-text">{{answer.text}}</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="article_main_content quiz_anim" ng-show="finished">
            <h2 class="question_title">
                <div>Sie haben {{ stats.right}} von {{ q.questions.length}} Fragen richtig beantwortet.</div>
            </h2>
            <div style="margin:20px 0;">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{stats.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stats.percent}}%;">
                        <span>{{stats.percent | toint}}%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article_main_content quiz_anim" ng-show="finished && q.stats.tries">
            <h2 class="question_title">
                <div>Der Durchschnitt liegt bei {{q.stats.success_percent | toint }}% richtiger Antworten.</div>
            </h2>
            <div style="margin:20px 0;">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{q.stats.success_percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{q.stats.success_percent}}%;">
                        <span>{{q.stats.success_percent | toint}}%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article_main_content quiz_anim" ng-if="finished && q.stats.tries == 0">
          <h2 class="question_title">
              <div>Sie haben als erstes dieses Quiz abgeschlossen.</div>
          </h2>
        </div>
        <div class="article_main_content quiz_anim" ng-if="finished && showMyAnswers">
          <h2 class="question_title">
              <div style="border-bottom: 1px solid;padding-bottom: 5px;margin-bottom: 5px">ANTWORTEN</div>
          </h2>
          <div class="article_main_content quiz_anim solution" ng-repeat="question in q.questions">

              <h2>
                  <div>{{ question.title}}</div>
              </h2>
              <ol>
                  <li ng-repeat="answer in question.answers" ng-class="{'success': answer.correct == 1,'useranswer': userAnswered(answer, question)}">
                      <span >{{answer.text}}</span>
                  </li>
              </ol>
          </div>
        </div>
        <button type="button" ng-click="startQuiz()" class="row" ng-if="!startet">&laquo; Quiz starten &raquo;</button>
        <button type="button" class="quiz_anim row" ng-click="showAnswers(true)" ng-if="startet && finished && !showMyAnswers">&raquo; Antworten ansehen &laquo;</button>
        <button type="button" ui-sref="section.quiz({'section': section})" class="row" ng-if="startet && finished">&laquo; Zurück zur Übersicht &raquo;</button>
        <button type="button" class="pull-left" ng-if="startet && position > 1 && !finished" ng-click="changeQuestion(-1)">&laquo; Zurück</button>
        <button type="button" class="pull-right" ng-if="startet && position < q.questions.length && !finished" ng-click="changeQuestion(1)">Nächste Frage &raquo;</button>
        <button type="button" class="pull-right" ng-if="startet && position == q.questions.length && !finished" ng-click="finish()"> &raquo; Fertig &laquo;</button>
    </div>
</div>
