<div class="container_12" id="content_container">
    <div class="grid_12 headline align_center margin_20 anim" ng-if="categorie">
        <div class="intro_text" ng-bind-html="article.intro" style="min-height:20px;width:100%;"></div>
    </div>
</div>
<div class="container_12 {{ categorie.name }}">
    <div class="grid_3 cat_menu ">
        <div class="frame hidden-print anim" id="smart" ng-class="{'stop':stop}" ng-if="categorie" sticker>
            <div class="scrollbar">
                <div class="handle"></div>
            </div>
            <div class="items scroll_menu" data-cat="{{catName}}">
                <div id="sly-scroll-container">
                    <div class="row" id="main_categorie_container" ng-if="section != 'projekte'">
                        <h3 class="bg_full">{{ 'SORT' | translate }}</h3>
                        <ul class="cat_menu_main ">
                            <li ng-repeat="section in categorie.sections">
                                <a class="pointer" ng-class="{'greyed': sectionFilter !== '' && sectionFilter !== section.name}" ng-click="setSectionFilter(section.name)">{{ section.title }}</a>
                            </li>
                        </ul>
                        <ul as-sortable="sortCategories" class="cat_menu_sub" ng-model="categorie.categories">
                            <li as-sortable-item context-menu-disabled="!$root.isLoggedIn" context-menu="setCatContext(cat)" data-target="catMenu" ng-class="{'offline': cat.active == 0}" ng-if="cat.active == 1 || $root.isLoggedIn && showOffline == true" ng-repeat="cat in categorie.categories" style="position:relative;">
                                <a class="categorie_content_link editable_categorie_content_link" ng-class="{'active': catName == cat.name}" ui-sref="section.categorie({categorie: cat.name})">
                                  <span ng-if="lang != 'en' || !cat.title_en">{{ cat.title }}</span>
                                  <span ng-if="lang == 'en' && cat.title_en">{{ cat.title_en }}</span></a>
                                  <div as-sortable-item-handle class="sort-handle" ng-show="doSorting">
                                      <i class="fa fa-sort"></i>
                                  </div>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="section == 'projekte'">
                        <h3 class="bg_full">{{ 'PROJECTS' | translate }}</h3>
                        <ul as-sortable="sortCategories" class="cat_menu_sub" ng-model="categorie.categories">
                            <li>
                                <a class="pointer" ng-class="{'active': sectionFilter =='laufend'}" ng-click="setFilterUrl('laufend','projekte-a-z')">{{ 'CURRENT' | translate }}</a>
                            </li>
                            <li>
                                <a class="pointer" ng-class="{'active': sectionFilter == 'abgeschlossen'}" ng-click="setFilterUrl('abgeschlossen', 'projekte-a-z')">{{ 'PAST' | translate }}</a>
                            </li>
                            <li as-sortable-item context-menu-disabled="!$root.isLoggedIn" context-menu="setCatContext(cat)" data-target="catMenu" ng-if="cat.active == 1" ng-repeat="cat in categorie.categories" style="position:relative;">
                                <a ng-class="{'active': catName == cat.name && !sectionFilter}" ng-click="resetFilter()" ng-click="setSelectedFilter(' ')" ui-sref="section.categorie({categorie: cat.name})">{{ cat.title }}</a>
                                <div as-sortable-item-handle class="sort-handle" ng-show="doSorting">
                                    <i class="fa fa-sort"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="quiz anim text-center row" ng-if="quiz.length" style="border:1px solid; margin-bottom:20px;">
                        <h3 class="bg_full"><a style="color:#fff" ui-sref="section.quiz()">Das QUIZ</a></h3>
                        <p style="margin-top:10px;padding:10px">
                            Testen Sie Ihr Wissen zu den akutellsten Themen
                        </p>
                        <p class="open_quiz">
                            <a ui-sref="section.quiz()">
                                » Hier gehts zum Quiz
                            </a>
                        </p>
                    </div>
                    <connections article="activeArticle" articles="connections" style="display:inline-block;width:100%;"></connections>
                </div>
            </div>
        </div>
    </div>
    <div class="grid_9 floating" id="categorie_container" ui-view="content"></div>
</div>
<div class="context-menu" id="catMenu" ng-if="$root.isLoggedIn">
    <ul class="dropdown-menu">
        <li ng-click="editCat()" ng-if="!editCategorie.edit">
            <i class="fa fa-edit"></i>
            <span class="text">Bearbeiten</span>
        </li>
        <li ng-click="deleteCat()">
            <i class="fa fa-floppy-o"></i>
            <span class="text">Löschen</span>
        </li>
        <li ng-click="toggleActivation(0)" ng-if="editCategorie.active == 1">
            <i class="fa fa-eye-slash"></i>
            <span class="text">Offline schalten</span>
        </li>
        <li ng-click="toggleActivation(1)" ng-if="editCategorie.active == 0">
            <i class="fa fa-eye"></i>
            <span class="text">Online schalten</span>
        </li>
        <li class="seperator"></li>
        <li ng-click="newCat()">
            <i class="fa fa-plus"></i>
            <span class="text">Neue Kategorie</span>
        </li>
        <li class="seperator"></li>
        <li ng-class="{'active': doSorting}" ng-click="toggleSorting()">
            <i class="fa fa-sort"></i>
            <span class="text">Sortieren</span>
        </li>
        <li ng-click="toggleOffline(true)" ng-if="showOffline == false">
            <i class="fa fa-eye"></i>
            <span class="text">Offline anzeigen</span>
        </li>
        <li ng-click="toggleOffline(false)" ng-if="showOffline == true">
            <i class="fa fa-eye-slash"></i>
            <span class="text">Offline verstecken</span>
        </li>
    </ul>
</div>
