<div class="unity_content" >

      <h1 >das Allergie-Spiel</h1>

<div id="unityPlayer">
				<div class="missing">
					<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
						<img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
					</a>
				</div>
				<div class="broken">
					<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
						<img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
					</a>
				</div>
			</div>
      <p class="footer">&laquo; created with <a href="http://unity3d.com/unity/" title="Go to unity3d.com">Unity</a> &raquo;</p>
    </div>
		<style type="text/css">
    		<!--
        div.unity_content{
          width:960px;
          margin:0 auto;
          margin-bottom:16px;
        }
        div.unity_content h1{
          background-color: #D2D9E3;
          color: #112f56;
          font-size: 21px;
          padding: 10px 16px;
          margin: 16px 0 ;
        }
        div.unity_content .footer{
          text-align: center;
          margin:16px 0;
        }
    		div.broken,
    		div.missing {
    			margin: auto;
    			position: relative;
    			top: 50%;
    			width: 193px;
    		}
    		div.broken a,
    		div.missing a {
    			height: 63px;
    			position: relative;
    			top: -31px;
    		}
    		div.broken img,
    		div.missing img {
    			border-width: 0px;
    		}
    		div.broken {
    			display: none;
    		}
    		div#unityPlayer {
    			cursor: default;
    			height: 600px;
    			width: 960px;
          margin:0 auto;
    		}
    		-->
    		</style>
