<div class="article anim">
	<h1 class="article_main_header">eLAB</h1>
</div>
<div style="width: 100%;display: inline-block;padding: 0 10px">
		<div class="grid_9 big_block elab anim" ng-repeat="section in elabs">
			<div class="grid_3 block_image" style="margin-left:0px;">
				<a ui-sref="vol.elab.section({id:section.name})">
					<img ng-src="http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=http://www.openscience.or.at/{{ section.image.url}}&amp;w=220&amp;q=100">
				</a>
			</div>
			<div class="grid_6 block_content">
				<h3 class="header"><a ui-sref="vol.elab.section({id:section.name})">{{ section.title }}</a></h3>
				<p ng-bind-html="section.text"></p>
			</div>
		</div>
</div>

