<div class="article anim " ng-if="article.id" context-menu="setContext(article)" context-menu-disabled="!$root.isLoggedIn" data-target="articleMenu">
	<h1 ng-if="!article.edit && (lang == 'de' || article.title_en == '')" class="article_main_header" >{{article.title}}</h1>
	<h1 ng-if="!article.edit && lang == 'en' && article.title_en != ''" class="article_main_header" >{{article.title_en}}</h1>
	<h1 ng-if="article.edit && lang == 'de'" contenteditable id="{{ article.name }}" class="article_main_header" ng-model="article.title"></h1>
	<h1 ng-if="article.edit && lang == 'en'" contenteditable id="{{ article.name }}" class="article_main_header" ng-model="article.title_en" ></h1>
	<div ng-if="!article.edit && (lang == 'de' || article.text_en == '')" class="article_main_content" ng-bind-html="article.text" thesaurus></div>
	<div ng-if="!article.edit && lang == 'en' && article.text_en != ''" class="article_main_content" ng-bind-html="article.text_en" thesaurus></div>
	<div ng-if="article.edit && lang == 'de'" froala="froalaOptions" class="article_main_content" ng-model="article.text"></div>
	<div ng-if="article.edit && lang == 'en'" froala="froalaOptions" class="article_main_content" ng-model="article.text_en"></div>
</div>
<edit nodelete="true"></edit>