<div class="article">
    <h1 class="article_main_header">{{ 'WORKSHOPS' | translate }}
        &raquo; {{ 'GROUP_REGISTRATION' | translate }}</h1>
</div>
<div class="grid_3" style="margin:0; margin-right:20px">
    <div class="grid_3 no-anim" id="article_functions_menu" stick>
        <div class="grid_3 article_thumb bordered vol calendar-container" ng-class="{'highlight': showCalendar() }" style="margin:0px;padding-bottom:10px;position:relative;z-index:0;margin-bottom:20px;">
            <input class="" datepickersolo gldp-id="miniCalendarGroup" id="dateItGroup" ng-model="selectedDate" style="height:0;float:left;border:0;opacity:0" type="text"/>
            <div gldp-el="miniCalendarGroup" id="miniCalendarGroup" style="float:left;width:100%;height:300px"></div>
            <div id="calendar_loading">
                <div class="loading_image vol">
                    <div style="position:absolute;bottom:3px;left:3px;"></div>
                </div>
            </div>
            <loader content="fetchdates" section="'vol'" style="z-index:1000000"></loader>
        </div>
        <div class="hide" id="gallery_menu" style="display: none;">
            <div id="gallery_menu_title">
                <div style="padding:10px">
                    {{ 'GALLERY' | translate }}
                </div>
            </div>
            <div id="gallery_menu_content">
                <div class="os-icon image-icon left" style="margin:10px"></div>
            </div>
        </div>
        <div class="files_list anim" id="files_menu" ng-if="files.length">
            <div class="gallery_menu_title">
                {{ 'MATERIALS' | translate }}
            </div>
            <div class="files_menu_content">
                <ul>
                    <li class="anim" ng-repeat="file in files">
                        <a analytics-category="{{setArticle.section.title}}" analytics-event="Download" analytics-label="{{file.name}}" analytics-on="click" download="{{file.name}}" href="http://www.openscience.or.at/{{file.url}}" target="_blank">
                            <div class="file_download" title="{{ file.name +' - '+ file.filetype }}">
                                <span class=" os-icon download-icon"></span>
                                <span class="file_name">{{ file.name}}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="anim interact_menu" ng-if="selectedClass.id">
            <ul class="horizontal_list">
                <li>
                    <div article="selectedClass" class="os-icon icon-facebook left" facebook title="Auf Facebook teilen..."></div>
                </li>
                <li>
                    <div class="os-icon icon-twitter2 left" title="Teile auf Twitter..." twitter></div>
                </li>
                <li>
                    <div class="os-icon icon-googleplus2 left " googleplus title="Teilen auf Google+..."></div>
                </li>
                <li>
                    <div class="os-icon mail-icon left" ng-click="sendToEmail(selectedClass)" title="Als E-Mail versenden..."></div>
                </li>
                <li>
                    <div class="os-icon print-icon left" title="Inhalt als PDF herunterladen..."></div>
                </li>
                <li ng-if="files.length">
                    <div class="os-icon download-icon left" title="Alle Anhänge herunterladen..."></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="customer_form bordered grid_6" style="border:1px solid #fad7dc;">
    <form id="group_booking" name="gruppenanmeldungForm" ng-submit="sendAnmeldung(gruppenanmeldungForm.$valid)" novalidate>
        <div class="greyed_title">
            <h5>1. Kurs ausw&auml;hlen:</h5>
        </div>
        <div class="big_select">
            <h2 ng-if="classes.length == 0">{{ 'LOADING_COURSE' | translate }}...</h2>
            <select ng-model="selectedClass" ng-options="class as class.title for class in classes" ng-show="classes.length" required>
                <option value="">- {{ 'CHOOSE_COURSE' | translate }} -
                </option>
            </select>
            <div class="checker"></div>
        </div>
        <div class="article_thumb" ng-if="selectedClass.id" style="margin-top:20px">
            <div class="thumb_text">
                <div class="article_main_content" ng-bind-html="selectedClass.text" ng-if="lang == 'de' || selectedClass.text_en == '' || selectedClass.text_en == '[p]​[/p]'"></div>
                <div class="article_main_content" ng-bind-html="selectedClass.text_en" ng-if="lang == 'en' && selectedClass.text_en != '' && selectedClass.text_en != '[p]​[/p]'"></div>
                <div><span class="min-label">{{ 'FEES' | translate }}:</span>
                    {{ selectedClass.prize | currency : '€ '}}
                    p.P</div>
                <div><span class="min-label">{{ 'DURATION' | translate }}:</span>
                    {{selectedClass.duration }}
                    {{ 'HOURS' | translate }}</div>
            </div>
        </div>
        <div class="anim" ng-show="selectedClass.id">
            <div class="greyed_title">
                <h5 id="choose_places">2. {{ 'SELECT_PARTICIPANTS' | translate }}:</h5>
            </div>
            <div class="content_box">
                <div class="eventStart">
                    <div class="small_select">
                        <select ng-model="selectedPlaces" ng-options="n for n in [] | labcount:8:selectedClass" required>
                            <option value="">
                                - {{ 'NUMBER_PARTICIPANTS' | translate }} -</option>
                        </select>
                        <div class="checker"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="anim" ng-if="selectedClass.id && selectedPlaces">
            <div class="greyed_title">
                <h5 id="choose_date">3. Wunschtermin im Kalender ausw&auml;hlen:</h5>
            </div>
            <div class="content_box">
                <div class="row">
                    <div class="left">
                        <div class="small_select" style="margin-left:20px">
                            <input class="dater required" disabled="disabled" id="date_first" name="date_first" ng-model="selectedFirstDate" required style="text-align: center; width: 70px;" type="text" value=""/>
                            <div class="checker"></div>
                        </div>
                    </div>
                    <div class="left resetDater" ng-click="deleteDate(0)" ng-if="selectedFirstDate">&times; Termin l&ouml;schen</div>
                    <div class="left eventStart" ng-if="selectedFirstDate">
                        <div class="small_select">
                            <select class="required" id="date_first_time" ng-model="hours.selectedHours" ng-options="n for n in [] | hours:selectedDate.hours" required style="width: 80px; height: 26px;"></select>
                            <div class="checker"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="anim" ng-show="selectedClass.id && selectedPlaces">
            <div class="greyed_title">
                <h5 id="choose_date2">4. Ersatztermin im Kalender ausw&auml;hlen:</h5>
            </div>
            <div class="content_box">
                <div class="row">
                    <div class="left">
                        <div class="small_select" style="margin-left:20px">
                            <input class="dater required" disabled="disabled" id="date_second" name="date_second" ng-model="selectedSecondDate" required style="text-align: center; width: 70px;" type="text" value=""/>
                            <div class="checker"></div>
                        </div>
                    </div>
                    <div class="left resetDater" ng-click="deleteDate(1)" ng-if="selectedSecond">&times; Termin l&ouml;schen</div>
                    <div class="left eventStart" ng-if="selectedSecond">
                        <div class="small_select">
                            <select class="required" ng-model="hours.selectedSecondHours" ng-options="n for n in [] | hours:selectedSecond.hours" required style="width: 80px; height: 26px;"></select>
                            <div class="checker"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="anim" ng-show="selectedClass.id && selectedPlaces && selectedFirstDate && selectedSecondDate">
            <div class="greyed_title">
                <h5 id="fill_form">5. {{ 'FILL_DETAILS' | translate }}:</h5>
            </div>
            <div class="content_box" ng-if="$root.isLoggedIn">
                <div class="right btn btn-primary" id="fillTestData" ng-click="fillTestData()">&raquo; TestDaten</div>
            </div>
            <div class="content_box field_list">
                <div>
                    <label>{{ 'FIRSTNAME' | translate }}</label>
                    <input name="firstname" ng-model="customer.firstname" required type="text">
                </div>
                <div>
                    <label>{{ 'LASTNAME' | translate }}</label>
                    <input name="lastname" ng-model="customer.lastname" required type="text">
                </div>
                <div>
                    <label>{{ 'COMPANY' | translate }}</label>
                    <input name="company" ng-model="customer.company" required type="text">
                </div>
                <div>
                    <label>{{ 'ADDRESS' | translate }}</label>
                    <input name="street" ng-model="customer.street" type="text">
                </div>
                <div>
                    <label>{{ 'ZIP' | translate }}</label>
                    <input ng-model="customer.zip" style="width:67px" type="text">
                    <div class="seperator">/</div>
                    <input ng-model="customer.city" style="width:202px" type="text">
                </div>
                <div>
                    <label>{{ 'PHONE' | translate }}</label>
                    <input name="telefon" ng-model="customer.phone" type="text">
                </div>
                <div>
                    <label>{{ 'MAIL' | translate }}</label>
                    <input name="email" ng-model="customer.email" required type="email">
                </div>
                <div>
                    <label>{{ 'REMARKS' | translate }}</label>
                    <textarea ng-model="customer.text" style="height: 60px;"></textarea>
                </div>
                <div>
                    <button class="right btn btn-primary" id="sendSoloRequest" ng-disabled="gruppenanmeldungForm.$invalid">&raquo; {{ 'BOOK' | translate }}</button>
                </div>
                <div class="row margin_20" id="message"></div>
            </div>
        </div>
    </form>
</div>
