<div class="grid_9">
  <div style="margin-left:0;" class="grid_3">
    <h2 class="top-title">LAB 1
      <span class="lower-info">8 - 20 BesucherInnnen</span>
    </h2>
  </div>
  <div class="grid_3">
    &nbsp;
  </div>
  <div style="margin-right:0;width:220px" class="grid_3">
    <h2 class="top-title">LAB 2
      <span class="lower-info">8 - 30 BesucherInnnen</span>
    </h2>
  </div>
</div>
<div id="calendar_container" class="grid_9" style="margin: 0px; margin-left:10px;border: 1px solid;margin-bottom:20px">
  <div class="grid_3 calendar" style="margin-left:0;position:relative;z-index:0" ng-class="{'set': selectedLab == 1}">
    <input ng-model="lab1.selectedDate" id="dateIt" type="text" class="" gldp-id="miniCalendar" style="height:0;float:left;border:0;opacity:0" datepicker lab="1" />
    <div gldp-el="miniCalendar" id="miniCalendar" class="miniCalendar"></div>
    <div class="row" style="margin-top:10px">
      <ul class="left">
        <li style="color:#a26fa7;margin-left:0px" class="left">
          <div style="margin:5px 20px 0;" class="left">
            <img src="images/fullday_event.png">
          </div>
          <div class="left"> {{ 'AVAILABLE_DATES' | translate }}
            <br>{{ 'MORNING_AFTERNOON' | translate }}
          </div>
        </li>
        <li style="color:#444;margin-left:0px" class="left">
          <div style="margin:5px 20px 0;width:30px;height:30px" class="left">

          </div>
          <div style="margin:6px 0" class="left"> {{ 'AVAILABLE_DATES_GROUPS' | translate }}
          </div>
        </li>
        <li style="color:#d41231;margin-left:0px" class="left">
          <div style="margin:5px 20px 0;width:30px;height:30px" class="left">
          </div>
          <div class="left"> {{ 'FULLY_BOOKED' | translate }}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid_3">
    <div style="margin:20px 10px;">
      <div>
        <span ng-if="">{{ 'TODAY' | translate }}, </span><span style="font-size:1.2em;font-weight:bold;">{{ selectedDate | date: 'longDate'}}</span>
        <h3 class="labor_info" ng-if="selected">LAB {{selectedLab}}</h3>
      </div>
      <div class="eventInfo">
        <div class="group_view" ng-repeat="event in eventList | orderBy: 'start'">
          <div class="time" ng-if="event.type != 'closed'">{{ event.date_start | amDateFormat:'HH:mm'}}</div>
          <div class="time" ng-if="event.type == 'closed'">
            <div ng-if="event.full_day == 1">{{ 'FULL_DAY' | translate }}</div>
            <div ng-if="event.full_day == 0">{{ event.date_start | amDateFormat:'HH:mm'}}</div>
          </div>
          <div class="title">
            <a ui-sref="vol.kurse.kurs({kurs:event.class.name})" ng-if="event.type != 'closed'">{{event.class.title}}</a>
            <a ng-if="event.type == 'closed'">{{event.title}}</a>
          </div>
          <div class="register" ng-if="event.solo == 1 && event.labor.places - event.booked > 0">
            <a ui-sref="vol.einzelanmeldung.kurs.date({kurs:event.class.title, date: event.date_start})">&raquo; {{ 'REGISTRATION' | translate }} - {{ event.labor.places - event.booked }} <span ng-if="event.labor.places - event.booked > 1">Plätze</span><span ng-if="event.labor.places - event.booked == 1">Platz</span> frei </a>
          </div>
          <div class="company" ng-if="event.groups == 1">{{event.company}}</div>
        </div>

      </div>
    </div>
  </div>
  <div class="grid_3 article_thumb calendar calendar-labor2" style="margin-right:0;width:218px" ng-class="{'set': selectedLab == 2}">
    <input ng-model="lab2.date" id="dateIt2" type="text" class="" gldp-id="miniCalendar2" style="height:0;float:left;border:0;opacity:0" datepicker lab="2" />
    <div gldp-el="miniCalendar2" id="miniCalendar2" class="miniCalendar"></div>
  </div>
</div>
<kurse  offset="50" section="kalender"></kurse>
