<div id="content_container" class="container_12">
    <div class="grid_12 headline align_center margin_20 vol_header relative anim" ng-if="categorie">
        <h3 ng-class="{'smaller': lang == 'en'}">{{ 'HANDS_ON' | translate}}</h3>
        <small class="intro_text" ng-if="lang =='de'">
			<p>Wollten Sie schon immer wissen, was sich hinter<br>&#8203;
			<span >den Kulissen eines Forschunglabors abspielt?</span>
			</p>			
			</small>
        <a style="background-color: rgb(255, 255, 255); color: rgb(163, 16, 49); font-size: 0.8em; padding: 3px 20px; text-decoration: none;" ui-sref="voluns">{{'FIND_MORE' | translate}} »</a>
        <div style="margin-top:0px;width:200px;text-align:center;position:absolute;margin-bottom:5px;top:20px;right:15px;color:#a31031 ">
            <small style="color:#ef4145">{{'INITIATIVE' | translate}}<br>Open Science {{'AND' | translate}} <div style="padding-top:0px;margin-top:-2px"><a href="http://www.imba.oeaw.ac.at" target="_blank"><img alt="Institut für Molekulare Biotechnologie" title="imba" src="images/imba_logo_block.jpg"></a></div></small>
        </div>
    </div>
</div>
<div class="container_12 {{ categorie.name }}">
    <div class="grid_3 cat_menu">
        <div id="smart" class="frame hidden-print anim" sticker ng-if="categorie">
            <div class="items">
                <div class="row" id="main_categorie_container">
                    <h3 class="bg_full">{{'SORT' | translate}}</h3>
                    <ul class="cat_menu_main ">
                        <li style="font-size: 1.5em;padding: 10px 0; text-transform: uppercase;">
                            <label style="font-weight:normal">{{'AGE' | translate}}:</label>
                            <input type="text" id="age_filter" style="font-size: 1em;width:30px;background:transparent;border:0;border-bottom:1px solid #a31031;color:#a31031;text-align:center;line-height:1.1em;" maxlength="3">
                            <button style="background:transparent;border:0;font-size:1em;color:#a31031;cursor:pointer" id="filterAge">»</button>
                        </li>
                        <li>
                            <a ui-sref="vol.kurse" class="categorie_content_link">{{'WORKSHOPS' | translate}}</a>
                        </li>
                    </ul>
                    <ul class="cat_menu_sub">
                        <li>
                            <a ui-sref="vol.kalender" ng-class="{'active': state.includes('vol.kalender')}">{{'BOOKINGS' | translate}}</a>
                        </li>
                        <li>
                            <a ui-sref="vol.einzelanmeldung" ng-class="{'active': state.includes('vol.einzelanmeldung')}">{{ 'SOLO_REGISTRATION' | translate}}</a>
                        </li>
                        <li>
                            <a ui-sref="vol.gruppenbuchung" ng-class="{'active': state.includes('vol.gruppenbuchung')}">{{ 'GROUP_REGISTRATION' | translate}}</a>
                        </li>
                        <li>
                            <a ui-sref="vol.seminare" ng-class="{'active': state.includes('vol.seminare')}">LehrerInnen-Seminar</a>
                        </li>
                        <li>
                            <a ui-sref="vol.camps" ng-class="{'active': state.includes('vol.camps')}">{{ 'CAMPS' | translate}}</a>
                        </li>
                        <li>
                            <a ui-sref="vol.elab" ng-class="{'active': state.includes('vol.elab')}">eLAB</a>
                        </li>
                        <li ng-class="{'offline': cat.active == 0}" ng-repeat="cat in categorie.categories" ng-if="cat.active == 1 || $root.isLoggedIn && showOffline == true">
                            <a ng-class="{'active': catName == cat.name}" class="categorie_content_link editable_categorie_content_link" ui-sref="vol.categorie({categorie: cat.name})">{{ cat.title }}</a>
                        </li>
                        <li>
                            <a ui-sref="vol.gallery" ng-class="{'active': state.includes('vol.gallery')}">{{ 'PHOTO_GALLERY' | translate}}</a>
                        </li>
                        <li>
                            <a ui-sref="vol.faq" ng-class="{'active': state.includes('vol.faq')}">FAQ</a>
                        </li>
                        <li>
                            <a ui-sref="vol.guestbook" ng-class="{'active': state.includes('vol.guestbook')}">{{ 'GUESTBOOK' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <connections articles="connections"></connections>
            </div>
        </div>
    </div>
    <div ui-view="content" id="categorie_container" class="grid_9 floating"></div>
</div>
