<div class="article anim" ng-if="!selectedAlbum.id">
    <h1 class="article_main_header">{{ 'PHOTO_GALLERY' | translate}}
        <div class="right">
            <label for="month_filter">
            <small>Filter</small>
            </label>
            <select ng-options="d.date as d.output for d in dates" ng-model="selectedDate.set">
                <option value="">- Alle -</option>
            </select>
        </div>
    </h1>
</div>
<div id="gallery_view" class="article anim" style="padding:0" ng-if="!selectedAlbum.id" infinite-scroll="moreItems()" infinite-scroll-distance="1">
    <div class="grid_3 article_thumb article_thumb_mini bordered vol" ng-repeat="album in galleries | bydater: selectedDate.set" ng-if="album.date != '0000-00-00 00:00:00'">
        <div ng-if="album.import == 0" style="background-image:url(http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=http://www.openscience.or.at/{{ album.images[0].url}}&amp;w=218&amp;h=146&amp;zc=1&amp;f=jpg&amp;q=100)" class="thumb_image">
            <a ui-sref="vol.gallery.details({id:album.id})"><img ng-src="http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=http://www.openscience.or.at/{{ album.images[0].url}}&amp;fltr[]=gray&amp;fltr[]=brit|-40&amp;fltr[]=clr|60|A31031&amp;fltr[]=cont|10&amp;w=220&amp;h=145&amp;zc=1&amp;f=jpg&amp;q=100" style="width:218px;height:145px">
            </a>
        </div>
        <div ng-if="album.import == 1" style="background-image:url(http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src={{ album.images[0].url}}&amp;w=218&amp;h=146&amp;zc=1&amp;f=jpg&amp;q=100)" class="thumb_image">
            <a ui-sref="vol.gallery.details({id:album.id})"><img ng-src="http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src={{ album.images[0].url}}&amp;fltr[]=gray&amp;fltr[]=brit|-40&amp;fltr[]=clr|60|A31031&amp;fltr[]=cont|10&amp;w=220&amp;h=145&amp;zc=1&amp;f=jpg&amp;q=100" style="width:218px;height:145px">
            </a>
        </div>
        <div class="thumb_categorie left">
            <a ui-sref="vol.gallery.details({id:album.id})">{{ album.date| badDateToIso | date: 'dd.MM.yyyy' }}</a>
        </div>
        <div class="clear"></div>
        <div class="thumb_heading">
            <a ui-sref="vol.gallery.details({id:album.id})">{{ album.title}}</a>
        </div>
        <div class="thumb_text">{{ album.text}}&nbsp;</div>
    </div>
</div>
<div class="article anim" ng-if="selectedAlbum.id">
    <h1 class="article_main_header" ng-if="selectedAlbum.import == 0">{{ 'PHOTO_GALLERY' | translate}} &raquo; {{ selectedAlbum.title }} <small class="vol">{{ selectedAlbum.date| badDateToIso | date: 'dd.MM.yyyy' }}</small></h1>
    <h1 class="article_main_header" ng-if="selectedAlbum.import == 1">{{ 'PHOTO_GALLERY' | translate}} &raquo; <span ng-bind-html="selectedAlbum.text | htmlToPlain"></span> <small class="vol">{{ selectedAlbum.date| badDateToIso | date: 'dd.MM.yyyy' }}</small></h1>
</div>
<masonry masonry-options="{ transitionDuration: '0s' }" preserve-order id="gallery_view" class="article anim" ng-if="selectedAlbum.id" mfp style="padding-left:10px !important">
    <div class="item masonry-brick" ng-repeat="image in selectedAlbum.images" ng-if="selectedAlbum.import == 0">
        <a href="http://www.openscience.or.at/{{image.url}}">
            <img src="http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src=http://www.openscience.or.at/{{image.url}}&w=175&q=100" />
        </a>
    </div>
    <div class="item masonry-brick" ng-repeat="image in selectedAlbum.images" ng-if="selectedAlbum.import == 1">
        <a href="{{image.url.replace('s_', 'm_')}}">
            <img src="http://www.openscience.or.at/assets/lib/phpThumb/phpThumb.php?src={{image.url}}&w=175&q=100" />
        </a>
    </div>
</masonry>
